<p id="notice"><%= notice %></p>

<p>
  <strong>Praxis:</strong>
  <%= @rating.praxis %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @rating.difficulty %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @rating.homework %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
