<div class="container my-3">
  <h1 class="mt-5">Subjects</h1>

   <div class="btn-group my-4">
    <button type="button" class="btn btn-default">Semester 1</button>
    <button type="button" class="btn btn-default">Semester 2</button>
    <button type="button" class="btn btn-default">Semester 3</button>
    <button type="button" class="btn btn-default">Semester 4</button>
    <button type="button" class="btn btn-default">Semester 5</button>
    <button type="button" class="btn btn-default">Semester 6</button>
    <button type="button" class="btn btn-default">AWE</button>
  </div> 

  <div class="row">
  <table class="table table-responsive-lg table-bordered table-hover mt- col-1">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Study path</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= link_to subject.name, subject %></td>
          <td><%= subject.study_path %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
          <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>

  <%= link_to 'New Subject', new_subject_path %>
</div>
