<p id="notice"><%= notice %></p>

<div class="container mt-4">
  <p>
    <h1><%= @subject.name %><small> (<%= @subject.semester_info %>) </small></h1>
  </p>

  <p class="mb-5">
    <strong>Study path:</strong>
    <%= @subject.study_path %>
  </p>

  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <% @subject.courses.each do |course| %>
      <a class="nav-item nav-link <%= is_active(course) %>"  id="<%= generate_tab_id(course) %>" data-toggle="tab" href="#<%= course.id %>" role="tab" aria-controls="#<%= course.id %>" aria-selected="false"><%= course.lecturer.title %> <%= course.lecturer.name %></a>
    <% end %>
  </nav>
  <div class="tab-content mx-4" id="nav-tabContent">
    <% @subject.courses.each do |course| %>
      <div class="tab-pane <%= is_active(course) %>" id="<%= course.id %>" role="tabpanel" aria-labelledby="<%= generate_tab_id(course) %>">
        <h3 class="mt-5 mb-2">Description </h3>
        <p><%= course.description %></p>
        <h3 class="mt-5 mb-2">Rating </h3>
        <div class="ml-3">
          <% @ratings[course].each do |key, value| %>
            <% @this_value = (value*100).round(2) %>
            <p class="mt-3"><%= key.capitalize %> </p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @this_value %>%;" aria-valuenow="<%= @this_value %>" aria-valuemin="0" aria-valuemax="100">
                <%= @this_value %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </br>
  </div>

  <% if @isVisible %>
    <%= link_to 'New Course', new_course_path(:subject_id => @subject) %>
  <% end %>
</div>
