<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :course_description %>
  </div>

  <% if @lecturer %>
    <div class="field">
      <%= form.label :lecturer %><br />
      <%= form.select :lecturer_id, options_from_collection_for_select(@lecturer, "id", "name"),
        :prompt => "Select lecturer" %>
    </div>
  <%else%>
    <div class="field">
      <%= form.label :lecturer %><br />
      <%= form.select :lecturer_id, options_from_collection_for_select(Lecturer.all, "id", "name"),
        :prompt => "Select lecturer" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject %><br />
    <%= form.select :subject_id, options_from_collection_for_select(Subject.all, "id", "name"),
      :prompt => "Select subject" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
