<%= form_with(model: lecturer, local: true) do |form| %>
  <% if lecturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>

      <ul>
      <% lecturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lecturer_title %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lecturer_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :lecturer_email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :lecturer_website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
