<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecturer.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lecturer.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @lecturer.website %>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
